@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
  font-family: 'Assistant', sans-serif;
}
.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-catalog {
  width: 1190px;
  margin: 0 auto;
 }
 

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform .8s;
  transform-style: preserve-3d;
 }
 .catalog-content .catalog-cell:hover .flip-card-inner {
  transition-delay: .3s;
  transform: rotateY(180deg);
}
.display-flex {
  display: flex;
}
 .flip-card-front {
  box-shadow: 0 5px 15px rgba(51,51,51,.2);
 }
 .catalog-content .flip-card-back {
  background-color: #ededed;
  color: #555;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  border: 1px solid #d9d9d9;
  padding: 30px 40px;
  box-sizing: border-box;
  outline: 1px #ededed solid;
 }

 .catalog-content .flip-card-front, .catalog-content .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


 .flip-card-front > a {
  display: block;
  position: relative;
  text-decoration: none;
 }
 
 .catalog-cell__img {
  width: 100%;
  height: 170px;
  object-fit: cover;
 }
 .catalog-cell__content {
  height: 52%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  color: #555;
 }
.catalog-content .flip-card-front a {
  display: block;
  position: relative;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
} 

.catalog-cell_margin-top {
  display: flex;
  font-weight: 500;
  justify-content: space-evenly;
}
.catalog-cell__col {
  display: flex;
  color: #555;
  font-weight: 500;
  align-items: center;
  gap: 5px;
}
.catalog-content .catalog-cell__list {
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 30px;
}
.catalog-content .flip-card-back .catalog-cell__details {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.5;
}
.catalog-content .catalog-cell__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
}
.catalog-content .catalog-cell__title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}
ul li {
  list-style-type: none;
}
.catalog-content .catalog-cell__link {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
.catalog-filtre {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.catalog-content .catalog-cell__spec-list {
  align-items: flex-start;
  flex-wrap: wrap;
}
.catalog-content .catalog-cell__label-wrapper.display-flex {
  flex-wrap: wrap;
}
.catalog-content .catalog-cell__label {
  cursor: pointer;
  padding: 2px 6px;
  text-decoration: none;
  text-align: left;
  align-items: center;
}
.ta-left {
  text-align: left;
}
.catalog-cell__icons-list {
  color: #4ea5a5;
  gap: 20px;
  font-size: 30px;
}
.catalog-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.catalog-cell {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    perspective: 1000px;
    transition: 0s transform;
    width: calc(25% - 20px);
    margin: 10px;
    height: 30vw;
}
.btn-filled-orange {
  color: #fff;
  background: #e25d2c;
  border: 2px solid #e25d2c;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  height: 48px;
  line-height: 44px;
  border-radius: 24px;
  padding: 2px 30px;
}
.catalog-paginator {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.subscriptions-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.breadcrumb-list ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.video-lessons-list-container {
  max-height: 360px;
  overflow-y: scroll;
}

.video-lesson-container .video-lesson-social {
  background-color: #f0f0f0;
  border-radius: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 5px 15px 20px;
}

.social-margin {
  margin-top: 15px;
}
 
a.social-link {
  padding-right: 10px;
 }
 

.video-lesson-container .video-lesson-social .social-items-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.video-lesson-container .video-breakpoints-container {
  margin-top: 20px;
  padding: 20px;
  background: #f0f0f0;
  border-radius: 10px;
}

.video-lesson-container .h3-orange {
  color: #f3520c;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.video-lesson-container .video-breakpoints-container .video-breakpoints-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  color: #232323;
}

.video-lesson-container .video-breakpoints-container .video-breakpoints-wrapper .video-breakpoints-item {
  display: flex;
  width: 33%;
  margin-bottom: 5px;
  font-size: 16px;
  cursor: pointer;
  gap: 5px;
}

.video-lesson-container .video-breakpoints-container .video-breakpoints-wrapper .video-breakpoints-item::before {
  content: '';
  background: #52c3b0;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 6px;
}

.video-lesson-content, .video-lesson-item-head, .video-lesson-item-head-a {
    display: flex;
  }
  .video-lesson-content .flex-item {
    flex-basis: 50%;
  }

  .video-lesson-item__description {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }

  .video-lesson-item___included {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    padding: 5px 0 5px 0;
  }

  .video-lesson-item___included > a:hover {
    color: #f3520c;
    text-decoration: underline;
    cursor: pointer;
  }

   .video-breakpoint-time:hover {
    color: #53a395;
    cursor: pointer;
  }

  .fa-bookmark::before {
    background-color: white;
    border: 2px white solid;
    outline: none;
    cursor: pointer;
  }

  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }

  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
  
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .hide {
    display: none;
  }

  .hideImportant {
    display: none !important;
  }

  .active {
    background-color: #ccc;
  }
.arrow-down::before {
content: "";
color: #fff;
font-size: 20px;
font-family: 'FontAwesome';
}



  .main-footer {
    background: #303d47;
    color: #fff;
  }

  .main-footer .footer-info-container {
    display: flex;
  }

  .main-footer .footer-down-container {
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .main-footer .footer-info-container .footer-info {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background: rgba(255,255,255,.25);
  }

  .main-footer .footer-down-container .footer-links {
    display: flex;
    min-width: 50%;
    justify-content: space-between;
  }

  .main-footer .footer-down-container a {
    padding: 2px 0;
    margin-right: 30px;
    color: rgba(225,225,225,.8);
  }

  .main-footer a {
    color: #e1e1e1;
    text-decoration: none;
    transition: all .3s;
  }

  a {
    background-color: transparent;
  }

  